html,

body {
  font-family: sans-serif;
  height: 100%;
  background-size: cover;
  position: relative;
}

botton {
  outline: none;
  border: none;
}

h1 {
  color: #FF6699;
  font-size: 90px;
  font-family: 'Cherry Swash', cursive;
  text-align: center;
  height: 2000px;
}

header {
  background-image: url(img/sakura.jpg);
  height: 450px;
  width: 100%;
  padding-top: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  margin:0 auto;
}

nav {
  background-color: #DEB887;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 40px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
}

nav a:hover {
  color: #ff6699;
}

.wrapper {
    width: 640px;
    margin: 0 auto;
}

.information {
  background-color: #ffffff;
  color: #FF6699;
  padding: 30px;
  overflow: hidden;
}

.information p{
  background-color: #DEB887;
  color: #ffffff;
  padding: 30px;
}

.title {
  font-size: 30px;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  padding-left: 15px;
  padding-top: 30px;
  margin-bottom: 50px;
}

.information div {
  font-size: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 30px;
  width: 960px;
}

.information img {
  float: left;
  width: 300px;
}

.information li{
    list-style: none;
}

#main{
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
    padding: 16px;
    float: left;
    background-color: #DEB887;
}

#sidebar{
    float: left;
    overflow: hidden;
    width: 35%;
    margin: 0px 12px;
    padding: 8px;
    background-color: #DEB887;
}

#sidebar img{
    width: 150px;
    margin: 30px;
}

#sidebar h3{
    font-size: 20px;
    margin-bottom: 8px;
    margin-left: 30px;
    color: #ffffff;
}

#sidebar p{
    font-size: 16px;
}

#sidebar2{
    float: left;
    overflow: hidden;
    width: 35%;
    margin: 20px 10px;
    padding: 20px 0px;
    background-color: #DEB887;
}

#FB {
  text-decoration: none;
  font-size: 16px;
  padding: 8px 32px;
  margin: 20px;
  background: #3b5998;
  color: #f9f9f9;
  border: 1px solid #3b5998;
  border-radius: 5px;
  //transition: 0.5s;
}

//.information a:hover {
    background: #f9f9f9;
    color: #3b5998;
}

#insta {
  text-decoration: none;
  font-size: 16px;
  padding: 8px 32px;
  margin: 20px;
  background: linear-gradient(#9933cc, #ffcc33);
  color: #f9f9f9;
  border-radius: 5px;
  //transition: 0.5s;
}

#filmarks{
  text-decoration: none;
  font-size: 16px;
  padding: 8px 32px;
  margin: 20px;
  background: #000;
  color: #ff0;
  border-radius: 5px;
}

.movie {
  padding: 30px;
  //background-color:#DEB887;
  overflow: hidden;
}

.movie h2 {
  color: #FF6699;
  border-color: #FF6699;
}

.movie h3 {
  color: #FF6699;
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  padding: 0px;
  margin: 0px;
}

.movie p {
  color: #ffffff;
  clear: left;
}

.movie a{
  text-decoration: none;
  color: #FF6699;
  border: solid 1px #ff6699;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.movie a:hover{
  text-decoration: none;
  color: #ffffff;
  background-color: #FF6699
}

.movie div{
  background-color:#DEB887;
}

.big {
  background-color: #ffffff;
  width: 410px;
  padding: 15px;
  margin: 20px;
  box-shadow: 10px 10px 20px #000000;
  float: left;
}

.small1 {
  background-color: #ffffff;
  width: 400px;
  padding: 15px;
  margin: 20px;
  box-shadow: 10px 10px 20px #000000;
  float: left;
}

.small2 {
  background-color: #ffffff;
  width: 400px;
  padding: 15px;
  margin: 20px;
  box-shadow: 10px 10px 20px #000000;
  float: left;
}


.favors {
  padding: 30px;
  overflow: hidden;
}

.favors h2 {
  color: #ffcccc;
  border-color: #FF6699;
}

.favors table {
  background-color: #ffffdd;
  border-collapse: collapse;
  width: 90%;
  margin: 50px;
}

.favors td {
  border: 1px solid #000000;
  padding: 10px;
}

.favors th {
  border: 1px solid #000000;
  padding: 10px;
  background-color: #ff6699;
  text-align: left;
}

.products {
  padding: 30px;
}

.products h2{
  color: #FFCCCC;
  border-color: #FF6699;
}

.products a{
  text-decoration: none;
}

footer {
  text-align: center;
  background-color: #663300;
  color: #ffffff;
}
